:root{
	--primary :#3498db;
	--text :rgba(47, 53, 66,.6);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
	/*background:#ececec;*/
}
body{
	background:#F9F9F9;

}
.row{
	grid-template-columns: repeat(12, 1fr);
	display: grid;
}
[class*='col-']{
	padding:10px;
}
@media (max-width: 576px){
	.col-xs-1{grid-column: 1 span}
	.col-xs-2{grid-column: 2 span}
	.col-xs-3{grid-column: 3 span}
	.col-xs-4{grid-column: 4 span}
	.col-xs-5{grid-column: 5 span}
	.col-xs-6{grid-column: 6 span}
	.col-xs-7{grid-column: 7 span}
	.col-xs-8{grid-column: 8 span}
	.col-xs-9{grid-column: 9 span}
	.col-xs-10{grid-column: 10 span}
	.col-xs-11{grid-column: 11 span}
	.col-xs-12{grid-column: 12 span}
}
@media (min-width: 576px){
	.col-sm-1{grid-column: 1 span}
	.col-sm-2{grid-column: 2 span}
	.col-sm-3{grid-column: 3 span}
	.col-sm-4{grid-column: 4 span}
	.col-sm-5{grid-column: 5 span}
	.col-sm-6{grid-column: 6 span}
	.col-sm-7{grid-column: 7 span}
	.col-sm-8{grid-column: 8 span}
	.col-sm-9{grid-column: 9 span}
	.col-sm-10{grid-column: 10 span}
	.col-sm-11{grid-column: 11 span}
	.col-sm-12{grid-column: 12 span}
}
@media (min-width: 768px){
	.col-md-1{grid-column: 1 span}
	.col-md-2{grid-column: 2 span}
	.col-md-3{grid-column: 3 span}
	.col-md-4{grid-column: 4 span}
	.col-md-5{grid-column: 5 span}
	.col-md-6{grid-column: 6 span}
	.col-md-7{grid-column: 7 span}
	.col-md-8{grid-column: 8 span}
	.col-md-9{grid-column: 9 span}
	.col-md-10{grid-column: 10 span}
	.col-md-11{grid-column: 11 span}
	.col-md-12{grid-column: 12 span}
}
@media (min-width: 992px){
	.col-lg-1{grid-column: 1 span}
	.col-lg-2{grid-column: 2 span}
	.col-lg-3{grid-column: 3 span}
	.col-lg-4{grid-column: 4 span}
	.col-lg-5{grid-column: 5 span}
	.col-lg-6{grid-column: 6 span}
	.col-lg-7{grid-column: 7 span}
	.col-lg-8{grid-column: 8 span}
	.col-lg-9{grid-column: 9 span}
	.col-lg-10{grid-column: 10 span}
	.col-lg-11{grid-column: 11 span}
	.col-lg-12{grid-column: 12 span}
}
@media (min-width: 1200px){
	.col-xl-1{grid-column: 1 span}
	.col-xl-2{grid-column: 2 span}
	.col-xl-3{grid-column: 3 span}
	.col-xl-4{grid-column: 4 span}
	.col-xl-5{grid-column: 5 span}
	.col-xl-6{grid-column: 6 span}
	.col-xl-7{grid-column: 7 span}
	.col-xl-8{grid-column: 8 span}
	.col-xl-9{grid-column: 9 span}
	.col-xl-10{grid-column: 10 span}
	.col-xl-11{grid-column: 11 span}
	.col-xl-12{grid-column: 12 span}
}
.wrapper{
	width: 80%;
	max-width: 100%;
	margin:auto;
}
.wrapper2{
	width: 95%;
	max-width: 100%;
	margin:auto;
}
.bg{
	background: url('1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;

}
.navbar{
	display: flex;
	justify-content: space-between;
	padding: 1rem 4rem;
}
.navbar nav ul li{
	padding:0 1rem;
	display: inline-flex;
}
.navbar nav ul li a{
	color: #ffff;
	font-size: 1.2em;
	text-decoration: none;
	transition: .5s;
	font-weight: 500;

}
.navbar nav ul li.login{
	background:#fff;
	border-radius: 70px;
	box-shadow: 0 0.15rem 1.75rem 0 rgba(236, 240, 241,.7) !important;
	transition: .6s;
}
.navbar nav ul li.login img{
	position: relative;
	top: 4px;
}
.navbar nav ul li.login:hover{
	transform: scale(1.1);
}
.navbar nav ul li.login a{
	color: #2D9CDB;
	font-weight: 500;
	transition: none !important;
}
.navbar nav ul li.login a:hover{
	transform: none;
}
.navbar nav ul li a:hover{
	transform: scale(1.1);
}
.bg-item img{
	display: grid;
	margin:auto;
	margin-top: -24rem;
	width: 40%;
	animation: bounce 1.2s infinite linear;
}
@keyframes bounce{
	0%{
		transform:translateY(0px);
	}
	50%{
		transform:translateY(-20px);
	}
	100%{
		transform:translateY(0px);
	}
}
.mt-4{
	margin-top: 4rem;
}
.bg1{
	position: absolute;
	top: 20%;
	left: 70%;
}
.bg1 img{
	animation: rotation 2s infinite linear;
}
.bg2{
	position: absolute;
	top: 20%;
	left: 30%;
}
.bg2 img{
	animation: rotation 2s infinite linear;
}
.bg3{
	position: absolute;
	top: 50%;
	left: 10%;
}
.bg3 img{
	animation: rotation 2s infinite linear;
}
.bg4{
	position: absolute;
	top: 50%;
	left: 85%;
}
.bg4 img{
	animation: rotation 2s infinite linear;
}
.bg5{
	position: absolute;
	top: 10%;
	left: 48%;
}
.bg5 img{
	animation: rotation 2s infinite linear;
}
.line{
	position: relative;
	top: 20%;
	width: 17.7em;
	margin:0 auto;
	border-right: 2px solid rgba(255,255,255,.75);
	font-size: 250%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform:translateY(-50%);
	color: #fff;
	font-weight: 600;
}
.anim-typewriter{
	animation: typewriter 4s steps(40) 1s 1 normal both,
			   blinkText 500ms steps(40) infinite normal;
}
.logo h1{
	color: #fff;
}

@keyframes typewriter{
	from{
		width: 0;
	}
	to{
		width: 17.7em;
	}
}
@keyframes blinkText{
	from{
		border-right-color: rgba(255,255,255,.75);
	}
	to{
		border-right-color:transparent;
	}
}
@keyframes rotation{
	from{
		transform: rotate(0deg);
	}
	to{
		transform :rotate(359deg);
	}
}
.underline::after {
  content: "";
  border-bottom: solid 3px white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 30px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
.underline:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@-webkit-keyframes underline {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes underline {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

section.konten{
	height: 100vh;
}
.konten .judul{
	margin-top: 10rem;
	text-align: center;
}
.konten .judul h1{
	font-size: 2.5em;
	color: #333;
}
.konten .judul p{
	color:rgba(47, 53, 66,.6);
	font-weight: 500;
}
.konten .judul p span{
	color: #3498db;
}

/*card*/
.container {
  width: 300px;
  height: 400px;
  margin: auto;
  background: url("https://i.pinimg.com/564x/6f/5a/b1/6f5ab1b470beeeeaf285bb451c63ac8f.jpg");
  background-color: black;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: rgba(77, 77, 77, 0.9);
  color: #FEF5DF;
  opacity: 0;
  transition: all 0.5s;
  font-family: 'Playfair Display', serif;
}

.items {
  padding-top: 20px;
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}
.head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px #FEF5DF;
  position: absolute;
  bottom: 0;
  top: 140px;
  left: 20px;
  transition: all .5s;
}

.price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}
.price .old {
  text-decoration: line-through;
  color: #b3b3b3;
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
}
.cart i {
  font-size: 16px;
}
.cart span {
  margin-left: 10px;
}

.container:hover .overlay {
  opacity: 1;
}
.container:hover .overlay .head {
  transform: translateY(0px);
}
.container:hover .overlay hr {
  width: 75px;
  transition-delay: 0.4s;
}
.container:hover .overlay .price {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}
.container:hover .overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}
section.konten{
	position: relative;
}
section img.bg-konten{
	margin-top: 7rem;
	max-width: 100%;
}
.konten1 img{
	width: 20%;
	position: absolute;
	top:20rem;
	left: 6rem;
	animation: rotation 2s infinite linear
}
.konten2 img{
	width: 20%;
	position: absolute;
	top:50rem;
	left: 11rem;
	animation: rotation 2s infinite linear
}
.text-konten{
	margin-top: 22rem;
	margin-left: -15rem;
}
.text-konten h1{
	font-size: 3.5em;
	color: #333;
}
.text-konten p{
	color:rgba(47, 53, 66,.6);
	font-weight: 500;
	font-size: 1.2em;
	text-align: center;
}
.text-konten p span{
	color: #3498db;
}
.text-konten h3{
	color: #333;
	font-size: 1.6em;
}
.text-konten .kategori{
	display: inline-flex;
	margin-top: 2rem;	
}
.text-konten .kategori ul li{
	list-style: none;
	font-size: 1.2em;
	padding:5px 10px;
	font-weight: 500;
	transition: .5s ease-in-out;
	cursor: pointer;
	color:rgba(47, 53, 66,.6);
}
.text-konten .kategori ul li:hover{
	transform:scale(1.08);
	color: #3498db;
}
.text-konten .kategori ul:nth-child(2){
	margin-left: 3rem;
}
.text-konten .kategori ul:nth-child(3){
	margin-left: 3rem;
}
.deskripsi p{
	text-align: left;
	text-indent: 60px;
}
.bg-komen{
	background:#58b4e4;
	height: auto;
}
/*slider*/
.slider {
    width: 80%;
    margin: 0px auto;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
.card{
	width: 450px;
	height: 180px;
	background:#fff;
	position: relative;
	border-radius: 10px;
}
.judul-card{
	padding-top: 20px;
	padding-left:1rem;
	padding-right:2rem;
	display: flex;
	justify-content: space-between;
	color: #333;
}
.judul-card img{
	width: 90px;
	border-radius: 50%;
}
.judul-card h1{
	padding-right: 20px;
	width: 70%;
	font-size: 1.3em;
	font-weight: 400;
}
.des-card{
	padding: 0 0;
	padding-left:1rem;
	padding-right:2rem;
}
.footer-card{
	padding-top: 20px;
	padding-left:1rem;
	padding-right:2rem;
}
.footer-card p{
 	font-size: .8em;
 	color: var(--text);
}
.footer-card p span{
	color: var(--primary);
}
.text-comment{
	padding: 7rem 2rem;
}
.text-comment h1{
	font-size: 1.8em;
	color: #fff;
}
.text-comment p{
	margin-top: 20px;
	font-size: 1.1em;
	color: #fff;
}
.text-comment .navbar-footer{
	margin-left: -4rem;
}
footer {
	margin-top: 3rem;
}
.footer-icon {
	text-align: center;
}
.footer-icon h1{
	font-size:2em;
	text-align: center;
	color: #333;
}
.footer-icon img{
	margin-top: 20px;
	width: 50px;
	animation: bounce 1s infinite linear;
}
.footer-judul{
	text-align: center;
}
.footer-judul h1{
	margin-top: 10px;
	text-align: center;
	color: #333;
}
.footer-judul ul li{
	list-style: none;
	transition:.5s ease-in-out;
}
.footer-judul ul li:hover{
	transform:scale(1.08);
}
.footer-judul ul li a{
	text-decoration: none;
	color: #333;
}
.footer-judul ul li.icon:hover{
	transform:none;
}
.footer-judul ul li.icon i{
	padding: 7px 6px;
	color: #333;
	cursor: pointer;
	transition:.5s ease-in-out;
}
.footer-judul ul li.icon i:hover{
	transform:scale(1.2);
}
footer p{
	margin-top: 50px;
	text-align: center;
	color: var(--text)
}
@media (min-width: 922px) and (max-width: 1200px){
	.wrapper{
		width: 95%;
		max-width: 100%;
		margin:auto;
	}
}